.dataTables_info {
    font-size: 14px;
    opacity: .75;
    color: var(--text-color-800);
    padding-left: 1rem;
    padding-right: 1rem;
    user-select: none;
}

.dataTables_paginate {
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    user-select: none;
}

.dataTables_paginate .paginate_button.first::before {
    font-family: var(--font-awesome);
    content: '\f100';
    padding-right: 6px;
}

.dataTables_paginate .paginate_button.last::after {
    font-family: var(--font-awesome);
    content: '\f101';
    padding-left: 6px;
}

.dataTables_paginate .paginate_button.previous::before {
    font-family: var(--font-awesome);
    content: '\f137';
    padding-right: 6px;
}

.dataTables_paginate .paginate_button.next::after {
    font-family: var(--font-awesome);
    content: '\f138';
    padding-left: 6px;
}

.dataTables_paginate .paginate_button {
    color: var(--primary-400);
    cursor: pointer;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 8px;
}

.dataTables_paginate .paginate_button:hover {
    color: var(--primary-color);
    /* background-color: rgb(233, 236, 239); */
}

.dataTables_paginate .paginate_button.current {
    border: none !important;
    border-radius: 50px !important;
    /* background-color: var(--text-color-800) !important; */
    background-color: var(--primary-color) !important;
    color: #fff !important;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    min-width: 20px;
    height: 20px;
}

.dataTables_paginate .paginate_button.previous+span>.paginate_button {
    margin-left: 4px;
    margin-right: 4px;
    border: none !important;
    border-radius: 50px !important;
    text-align: center;
    padding: 4px .56rem;
}

.dataTables_length {
    display: none !important;
}


/*
==========================================
>>>>>>>>>>>> CUSTOM STYLING <<<<<<<<<<<<<<
==========================================
*/

/* TABLE UTILITIES */
.dataset-table thead th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--dark-color);
}

.dataset-table tbody td {
    padding-top: 6px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.dataTables_scrollHead, .dataTables_scrollHeadInner {
    height: 36px;
    max-height: 36px;

}

/* Vertical Stripes */
.dataset-table thead th.v-stripe-accent-yellow,
.dataset-table td.v-stripe-accent-yellow {
    background-color: rgba(255, 242, 204, 0.45) !important;
}

.dataset-table thead th.v-stripe-accent-green,
.dataset-table td.v-stripe-accent-green {
    background-color: rgba(182, 215, 168, 0.28) !important;
}

.dataset-table thead th.v-stripe-accent-red,
.dataset-table td.v-stripe-accent-red {
    background-color: rgba(234, 67, 53, 0.14) !important;
}

.dataset-table thead th.v-stripe-accent,
.dataset-table td.v-stripe-accent {
    background-color: rgba(225, 219, 255, 0.28) !important;
}
/* 
,td:nth-child(even) {
    
  } */
table:not(.table-unstyled) td {
    min-height: 40px;
    height: 40px;
}

table th.record-counter,
table td.record-counter {
    color: var(--light-text) !important;
}

table th.sticky-header {
    background-color: #FFFFFF;
}

table td.sticky-cell {
    z-index: 100;
}

table tr.odd td.sticky-cell {
    background-color: #FDFDFD;
    box-shadow: inset 0 0 0 9999px var(--mdb-table-accent-bg) !important;
}

table tr.even td.sticky-cell {
    background-color: #FFFFFF;
}

.row-flash {
    animation: tr-flash 2s;
    animation-iteration-count: 1;
}

@keyframes tr-flash {
    0%   {background-color: #7D73EC;} /* make the row flash with color i.e. FF9C9C */
    100% {background-color: initial;} /* This will revert to the default background color */
}