/* DEFAULT STYLES */
.simplebar-content {
    scroll-behavior: smooth;
}

.simplebar-scrollbar:before {
    background: repeating-linear-gradient(45deg,
            #39347C, /*#362B72 dark*/
            #39347C 10px,
            #544AB1 10px, /*4137D8*/
            #544AB1 20px);
    width: 8px;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}