/* DEFAULT STYLES */
.simplebar-content {
    scroll-behavior: smooth;
}

.simplebar-scrollbar:before {
    background: repeating-linear-gradient(45deg,
            #362B72,
            #362B72 10px,
            #4137D8 10px,
            #4137D8 20px);
    width: 8px;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}