.date-tile .month {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    opacity: 0.75;
    line-height: 1;
}

.date-tile .day {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.date-tile .day-today {
    color: var(--primary-color);
}

.date-tile .dayname {
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    opacity: 0.75;
}