#records-table .btn-view {
    padding-top: 2px;
    padding-bottom: 2px;
}

#records-table .btn-view:hover {
    background-color: var(--primary-dark);
    color: white;
}

#records-table .action-badge{
    border-radius: 16px;
    color: #221D39;
    font-weight: 600;
}

#records-table .action-badge.action-create {
    background-color: #1fc9a415;
}

#records-table .action-badge.action-delete {
    background-color: #FF264115;
}

#records-table .action-badge.action-update {
    background-color: #F1C75120;
}

#records-table .action-badge.action-create .fasicon::after {
    font-family: var(--font-awesome);
    content: '\f055';
    color: #1FC9A4;
}

#records-table .action-badge.action-delete .fasicon::after {
    font-family: var(--font-awesome);
    content: '\f057';
    color: #FF2641;
}

#records-table .action-badge.action-update .fasicon::after {
    font-family: var(--font-awesome);
    content: '\f0e7';
    color: #F1C751;
}

/* AUDITING DETAILS MODAL */
.audit-details-table {
    font-size: 13px;
}

.audit-updates-table thead th {
    background-color: #F1C75145;
}

.audit-deleted-table thead th {
    background-color: #ffc9cfe0;
}

.audit-created-table thead th {
    background-color: #C1E2CF;
}

.audit-details-table thead th 
{
    color: var(--dark-color);
    font-weight: 600;
}

.audit-details-modal .description .affected {
    border-bottom: 2px solid var(--warning-color);
}

.audit-details-modal .description .user {
    color: var(--primary-dark);
}

.audit-details-modal .tracing-details .tracing-tag 
{
    min-width: 120px;
    width: 120px;
}

.audit-details-modal .tracing-details .user-agent {
    color: #452E5C;
}

.audit-details-modal .tracing-details .ip {
    color: #BB3455;
}