@font-face {
    font-family: 'Poppins-Medium';
    src: url('../../fonts/Poppins-Medium.ttf');
}

.min-chart-height {
    min-height: 235px;
}

.min-chart-height-sm {
    min-height: 180px;
}

.chart-title {
    min-height: 32px;
}

.leave-count-indicator .leave-count,
.emp-stat-count {
    width: 34px;
    height: 34px;
    max-width: 34px;
    min-width: 34px;
    min-height: 34px;
    max-height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins-Medium';
    color: #08192c;
    border-radius: .5rem;
    font-size: 14px;
    margin-bottom: .5rem;
}

.emp-stat-count-indicator {
    border-radius: 0.5rem;
    font-size: 13px;
    font-family: 'Poppins-Medium';
}

.emp-stat-active { background-color: #e1e2f3; }
.emp-stat-leave  { background-color: #ffefd1; }
.emp-stat-onduty { background-color: #EDFBF8; }
.emp-stat-out    { background-color: #FFEDEF; }

.emp-stat-active .emp-stat-count {
    background-color: var(--primary-color);
    color: white;
}
.emp-stat-leave .emp-stat-count {
    background-color: var(--warning-color);
}
.emp-stat-onduty .emp-stat-count {
    background-color: #1FC9A4;
    color: white;
}
.emp-stat-out .emp-stat-count {
    background-color: var(--danger-color);
    color: white;
}
.dashboard-stat-modal .modal-content {
    height: 580px;
    min-height: 580px;
    max-height: 600px;
}

.modal-table thead 
{
    background-color: var(--primary-100);
    font-family: 'Poppins-Medium';
    font-size: 12px;
    text-transform: uppercase;
    color: var(--dark-color);
}

#statistics-modal #stats-table_length {
    width: fit-content !important;
    display: none;
}

.dp-icn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
}
.dp-icn.fa-xmark { color: #FF2641; }
.dp-icn.fa-caret-up { 
    color: #FF840C; 
    font-size: 16px;
}
.monthly-attx-stat-info,
.daily-attx-stat-info { 
    color: #FF840C;
}
.dp-icn.fa-circle {
    color: #00D1A4;
    font-size: 10px;
}
.dp-icn + .dp-label {
    color: #FFFFFF;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Poppins-Medium';
}
.dp-icn.fa-circle + .dp-label {
    background-color: #007F6C;
}
.dp-icn.fa-caret-up + .dp-label {
    background-color: #FF840C;
}
.dp-icn.fa-xmark + .dp-label {
    background-color: #FF2641;
}
.tooltip-inner {
    background-color: #110c22ec;
}

.leave-count-indicator .leave-count-pending       { background-color: var(--warning-color); }
.leave-count-indicator .leave-count-pending:hover { background-color: #FFCA3A; }

.leave-count-indicator .leave-count-rejected {
    background-color: var(--danger-color);
    color: white;
}
.leave-count-indicator .leave-count-rejected:hover { background-color: #ff4070; }

.leave-count-indicator .leave-count-approved {
    background-color: #00D1A4;
    color: white;
}
.leave-count-indicator .leave-count-approved:hover { background-color: #19ebbd; }

.modal-dialog-wide-1024 {
    width: 1024px;
    min-width: 1024px;
}