#reader {
    min-width: 450px;
    width: 450px; 
}

#reader__dashboard_section_csr {
    display: flex !important;
    flex-direction: column;
}

#reader,
.attendance-table-wrapper {
    height: 500px;
    max-height: 500px;
    background-color: white;
    border: 1px solid #D2D2D8 !important;
    border-radius: 0.5rem;
    overflow: hidden;
}

.attendance-table-wrapper table thead {
    /* background-color: #4300D4; */
    background-color: var(--primary-color);
    color: white;
    z-index: 100;
}

.options-wrapper,.calendar-clock {
    border-radius: 25px;
    height: 36px;
}

.calendar-clock {
    background-color: var(--primary-color);
    color: white;
    min-width: 250px;
    max-width: 300px;
}

.calendar-clock .date-label {
    width: 120px;
    text-align: center;
}

.calendar-clock .separator {
    border-right: 1px solid #e9e5fb35;
    margin-right: 6px;
}

.calendar-clock .millisec-label {
    display: inline-block;
    width: 24px;
    max-width: 32px;
}

.options-wrapper {
    background-color: #E9E5FB;
    color: var(--primary-color);
    width: 36px;
}